.App {
  /* font-size: 200px; */
  font-family: "MyFont";
}

.spacer {
  height: 100px;
}
.name {
  text-align: center;
}

.letters {
  display: inline;
  text-align: center;
}

.web-design {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.15em;
  text-align: center;
}

.technologies {
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logos-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
}

.logo {
  max-height: 0.6em;
}

@media (min-width: 2560px) {
  /* laptop L*/
  .App {
    font-size: 250px;
  }
}

@media (max-width: 2560px) {
  /* laptop L*/
  .App {
    font-size: 250px;
  }
}

@media (max-width: 1440px) {
  /* laptop L*/
  .App {
    font-size: 200px;
  }
}

@media (max-width: 1024px) {
  /* laptop */
  .App {
    font-size: 150px;
  }
}

@media (max-width: 768px) {
  /* Tablet */
  .App {
    font-size: 120px;
  }
}

@media (max-width: 425px) {
  /* mobile L */
  .App {
    font-size: 100px;
  }
}

@media all and (max-width: 375px) {
  /* mobile M */
  .App {
    font-size: 85px;
  }
}

@media all and (max-width: 320px) {
  /* mobile S */
  .App {
    font-size: 70px;
  }
}
